body{
	font-family: century gothic,calibri,serif;
	font-size: 13px;
	margin: 0px;
	padding: 0px;
}
h1{
	font-size: 40px;
	font-weight: normal;
	text-align: center;
}
header{
	height: 100px;

}

nav{
	width: 100%;
	background-color: #424558;
}
nav ul{
    margin: 0px;
    padding: 0px;
}
nav li{
	list-style-type: none;
	float: left;
}
nav a{
	display: inline-block;
	text-decoration: none;
	padding: 20px 30px;
	color: white;
	text-transform: uppercase;
	font-size: 15px;
}
.table{
	display: table;
	margin: 0 auto;
}
.menu-ind:hover{
    border-top: 5px solid #4C8;
    background-color: rgba(64,200,130,0.15);
}
.menu-crea:hover{
	border-top: 5px solid #f1dc4f;
	background-color: rgba(241,211,79,0.15);
}
.menu-serv:hover{
	border-top: 5px solid #0070BB;
	background-color: rgba(000,112,192,0.15);
}
.menu-cont:hover{
	border-top: 5px solid red;
	background-color: rgba(228,77,38,0.15);
}
nav li:hover a{
	padding: 15px 30px 20px 30px;
}
@media screen and (max-width: 780px){
	header{
		height: 50px;
	}
	h1{
		font-size: 28px;
		margin: 20px 0px 0px 0px;
	}
	nav li a{
		font-size: 12px;
		padding: 10px;
	}
	nav li:hover a{
		padding: 5px 10px 10px 10px;
	}
}

#menu li{
	list-style: none;
	float: left;
	position: relative;
	background-color: brown;
}
#menu ul li a{
	color: #000;
	text-decoration: none;
	width: 150px;
	height: 30px;
	display: block;
	text-align: center; 
	border: 1px solid #000;
	text-shadow: 1px 1px 1px blue;
}
#menu ul li{
	position: absolute;
	top: 31px;
	visibility: hidden;
}
#menu ul li:hover ul{
	visibility: visible;
}
#menu li:hover{
	background-color: #fff;
}
#menu ul li ul a:hover{
	color: #fff;
	background: #000;
}
.ecran{
	width: 100%;
	height: 100vh;
	background-image: url(image/imag.jpg);
	background-position: center;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
}
.carte{
	width: 80%;
	max-width: 250px;
	color: aliceblue;
	text-align: center;
	padding: 10px 30px;
	border: 1px solid rgba(255,255,255,0.3);
	background: rgba(255,255,255,0.2);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0,0,0,0.1);
	backdrop-filter: blur(5px);
}
.carte img{
	width: 150px;
	border-radius: 50%;
}
.carte h2{
	font-size: 50px;
	font-weight: 600px;
	margin-top: 20px;
}
.carte p{
	font-size: 20px;
	margin: 10px auto;
	max-width: 330px;
}
.carte .reseau img{
	width: 30%;
	border-radius: 50%;
	margin: 10px 5px;
	transition: background 0,5s;
}
.carte .reseau img:hover{
	background-color:grey;
}
.bouton{
	text-decoration: none;
	display: inline-block;
	font-size: 20px;
	font-weight: 700;
	background: #fff;
	color: rgb(255,59,184); 
	padding: 10px 30px;
	border-radius: 30px;
	margin: 30px 0 10px;
}